/* You can add global styles to this file, and also import other style files */
@use './theme/colors.scss' as *;
@use './theme/core';
@use './theme/mixins.scss' as *;

* {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

html {
  color: $color-primary;
  background-color: $background-light;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
